= render partial: "./side_bar"
.chat-main
  .main-header
    .left-box
      %h3.group-name 
      = @group.name
      %ul.member-list
        Member：koji
        %li.member-list__member 
    .edit-btn Edit
  .messages
    = render @messages

  .form
    = form_for [@group, @message],html: {id: 'new_form'} do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = fa_icon 'picture-o', class: 'icon'
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'

